body{
    font-family: 'Hubballi', cursive;
}
/* HEADER */
#my-header{
    height: 70px;
    font-family: 'Hubballi', cursive;
}

.my-input{
    text-align: center;
}



/* MAIN */
main{
    background-color: rgb(43, 43, 43);
    font-family: 'Hubballi', cursive;
}



#grid{
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}



.clearfix::after{
    clear: both;
    display: table;
    content: "";
}

#point{
    color: white;
}


/* boxs */

.box{
   
    width: calc(100% / 10);
    height: calc(100% / 10);
    background-color: orange;
    border: 4px solid rgb(43, 43, 43);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box.clicked{
    background-image: url("https://media.istockphoto.com/vectors/big-smile-emoticon-with-thumbs-up-vector-id1124532572?k=20&m=1124532572&s=612x612&w=0&h=IXpPDP4EXROUqjakNqxhq-pxrUURTO1jwy7SQKmP6Rw=");
    background-size: cover;
    border-color: rgb(43, 43, 43);
}

.box.clicked-bomb{
    background-image: url("https://img.freepik.com/premium-vector/cartoon-bomb-vector_97886-2416.jpg?size=338&ext=jpg");
    background-size: cover;
    border-color:rgb(255, 0, 0);
}

/* ********* MEDIA ********* */
.box-media{
   
    width: calc(100% / 9);
    height: calc(100% / 9);
    background-color: orange;
    border: 4px solid rgb(43, 43, 43);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* **********DIFFICILE****** */

.box-difficile{
    
    width: calc(100% / 7);
    height: calc(100% / 7);
    background-color: orange;
    border: 4px solid rgb(43, 43, 43);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

